:root {
  --blue: #1992d4;
  --yellow: #facc15;
  --shadow: 2px 2px 4px rgba(125, 125, 125, 0.278);
  --subtext: rgb(116, 119, 123);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 160px 1fr;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  background-color: var(--blue);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding: 15px;

  /* grid for links */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  gap: 50px;
}

.dashboard-header > h1 {
  font-size: 1.6rem;
}

.links, .dashboard-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(auto-fit, max-content);
  gap: 10px;
  align-items: center;
}

.links > a {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.links > img {
  width: 25px;
}

/* HEADER */

.header {
  background: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  /* bring the header above content to reveal box shadow */
  z-index: 1;
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.searchbar {
  padding: 10px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content minmax(200px, 90%);
  gap: 20px;
}

/* magnifying glass icon */
.searchbar > img {
  width: 32px;
}

/* searchbar input field */
.searchbar > input {
  border: none;
  background-color: #e2e8f0;
  padding: 8px 20px;
  border-radius: 1rem;
}

.header-nav {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: 1fr repeat(2, max-content);
  padding: 10px 20px;
}

.header-nav > .notification {
  width: 32px;
  justify-self: end;
}

.header-nav > .profile-picture {
  width: 50px;
}

.header-nav > .username {
  font-weight: 700;
}

.greeting {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, 30px);
  align-items: center;
  padding: 10px 20px;
  column-gap: 20px;
}

.greeting > .profile-picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  width: 60px;
}

.greeting > h2 {
  font-size: 1.75rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 20px;
}

.buttons > .header-btn {
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 100px;
  height: 40px;
  border-radius: 2rem;
}

/* MAIN CONTENT */

.content {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.your-projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

.your-projects > .project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  border-left: 8px solid #f0b429;
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content
}

.card > .project-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.card > .description {
  margin-top: 10px;
  text-align: justify;
  font-size: 1.2rem;
  color: var(--subtext);
}

.card > .project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.card > .project-icons > img {
  width: 30px;
}

.announcements {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.announcement-card {
  padding: 20px 30px;
  background-color: white;
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.announcement {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.announcement:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.announcement > p {
  color: var(--subtext);

  /* ellipsis after 3 lines of text */
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.trending {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.trending-users {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.trending-users > .user {
  padding: 15px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, max-content);
  column-gap: 15px;
}

.user > img {
  width: 75px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 5px;
}

.user > .username {
  align-self: flex-end;
  font-weight: 700;
}

.user > .user-description {
  align-self: flex-start;
}